﻿/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-top: 10px;
    text-align: center;
    background-image: url('Img/map-2153535_1280.jpg');
    background-size: cover;
    display: block;
    width: 99%;
    height: 100%;
    position: absolute;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h5 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

main {
    width: 80%;
    margin: 0 10%;
}

a {
    text-decoration: inherit;
}

.swagButton {
    color: rgb(203, 238, 6) !important;
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 100;
    font-size: 30px;
    text-align: center;
    border: solid 4px rgb(203, 238, 6);
    border-radius: 70px;
    padding: 10px 80px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    position: relative;
    left: 0;
    right: 6cm;
    top: 200px;
}

.swagButton:hover {
    background-color: rgb(203, 238, 6);
    color: #fff !important;
}

.swagButton1 {
    color: rgba(6, 87, 238, 0.582);
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    border: solid 4px rgba(6, 87, 238, 0.582);
    border-radius: 20px;
    padding: 10px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    position: relative;
    left: 0;
    right: 6cm;
    top: 100px;
}

.swagButton1:hover {
    background-color: rgba(6, 87, 238, 0.582);
    color: #fff;
}

.swagButton2 {
    color: rgba(52, 238, 6, 0.582);
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    border: solid 4px rgba(52, 238, 6, 0.582);
    border-radius: 20px;
    padding: 10px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    position: relative;
    left: 0;
    right: 6cm;
    top: 100px;
}

.swagButton2:hover {
    background-color: rgba(52, 238, 6, 0.582);
    color: #fff;
}

.swagButton3 {
    color: rgba(238, 222, 6, 0.849);
    background-color: rgb(255, 255, 255);
    font-family: cursive;
    font-weight: 10;
    font-size: 30px;
    text-align: center;
    border: solid 4px rgba(238, 222, 6, 0.849);
    border-radius: 20px;
    padding: 10px;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}

.swagButton3:hover {
    background-color: rgba(238, 222, 6, 0.849);
    color: #fff;
}

.colorTla {
    position: relative;
    top: 50px;
    background-color: rgba(248, 245, 245, 0.712);
    text-align: center;
    border-radius: 70px;
}

.kolor {
    color: green;
}

.kolor1 {
    color: rgb(255, 187, 0);
}

.kolor2 {
    color: rgb(0, 132, 255);
}

.kolor3 {
    color: grey;
}

.kolor4 {
    color: deeppink
}

.index_container {
    padding: 5%;
}