<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="pl-PL">
  <head>
    <meta
      charset="UTF-8"
      name="description"
      content="państwa, miasta, gra, online, użytkownicy"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='site.css') }}"
    />
    <title>Gra: Państwa i miasta</title>
    <script src="index.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-dark navbar-expand-md">
      <button class="navbar-toggler btn btn-secondary" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Przełącznik startu">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainmenu">
          <a class="btn btn-primary">Start</a>
          <a class="btn btn-warning">Zasady Gry</a>
          <a class="btn btn-success">Jak poruszać się po stronie</a>
          <a class="btn btn-info">Regulamin</a>
          <a class="btn btn-danger">Zaloguj</a>
      </div>
  </nav>
    <main>
      <section>
        <div class="container colorTla" style="text-align: center;">
          <div class="index_container">
            <br />
            <h1>Witaj na naszej stronie!</h1>
            <h4>
              Zapewne trafiłeś do nas bo chciałbyś pograć w znaną grę - 'Państwa
              Miasta'. Bardzo się z tego cieszymy, bo w ten sposób oprócz dobrej
              zabawy również kreatywnie spędzasz swój wolny czas!
            </h4>
            <h5>
              Wiem, że na pewno większość zna zasady tej gry, ale nie wszyscy
              wiedzą jak się poruszać po tej stronie. Jeżeli szukasz zasad gry,
              kroków jak poruszać się po naszej stronie, regulaminu czy też
              informacji o autorach gry to kliknij w zakładki na górze strony!
            </h5>
            <br />
          </div>
        </div>
        <a class="btn btn-white swagButton">Zacznij grę!</a>
      </section>
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
      ></script>
      <script src="js/bootstrap.min.js"></script>
    </main>
  </body>
</html>
